@charset "utf-8";
/* CSS Document */


/*BARRA NAVEGACION*/
.navbar-header, .navbar-nav{
	padding-top: 20px;
	font-size: 15pt!important;
      text-align: right;
        color: #bf2e35;
}


#barraNavegacion .navbar{
  width: 100vw;
  position: fixed;
  z-index: 3;
  background-color: #494949;
  text-align: right;
  padding: 1vw;
}
#barraNavegacion .navbar-nav
img {
  position: fixed;
  left: 5vw;
  top: 0.5vw;
  width: 3.5vw;
}
#barraNavegacion .nav-item
a {
  font-size: 2vw;
  margin-right: 4vw;
    color: #bf2e35;
}

/*Estilos index*/

#index #sobreCane {
    padding: 5vh 5vw 5vh 5vw;
    position: relative;
    z-index: 2;
    text-align: center;
    background-color: #D0757E;
}

h1 {
    font-family: gin, serif;
    font-size: clamp(1.5rem, 9vw, 5rem);
    font-weight: 400;
    color: #ffffff;
    position: relative;
    z-index: 2;
}



/*Estilos inicio*/

#bienvenida{
      text-align: center;
	min-height: 390px;
	padding-top: 100px;
	padding-bottom: 0px;
    height: 150px;
    padding-left: 10%;
	padding-right: 10%;
    position: relative;
    z-index: 2;
    background-color: #bf2e35;
    
	margin-top: 20px;
	

	color: white;
}






/*ESTILOS FOOTER*/
footer {
    padding-top: 2%;
    padding-bottom: 1%;
	text-align: center;
	background-color: #141414;
	color: #bcbcbc;
}
#footer .gotop {
  position: fixed;
  z-index: 3;
  bottom: 2vh;
  right: 2vw;
}
#footer .gotop img {
  width: 5vw;
}

/*Portafolio*/
#portfolio .container-fluid, #portfolio .container-sm, #portfolio .container-md, #portfolio .container-lg, #portfolio .container-xl, #portfolio .container-xxl {
  max-width: 1920px;
}
#portfolio .container-fluid .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box, #portfolio .container-xxl .portfolio-box {
  position: relative;
  display: block;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: #bf2e35;
  transition: opacity 0.25s ease;
  text-align: center;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
  font-size: 1.2rem;
}
#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption, #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xxl .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
